.mat-card {
    width: 200px;
    height: 310px;
    margin-left: 20px;
    margin-top: 10px;
}

.recipe-img {
    display: block;
    margin: 0 auto;
    width: 190px;
    margin-bottom: 20px;
}

.descr {
    height: 36px;
    overflow: scroll;
}