#nav {
    background-color: #380b74;
}

#app-title {
    color: #fff;
}

.right-justified {
    text-align: right;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.icon-btns {
    background-color: rgba(0,0,0,0);
    color: #fff;
}